absl-py 
adbutils==0.8.3
aiohttp 
alabaster==0.7.12
altgraph==0.17
anaconda-client==1.7.2
anaconda-navigator==1.10.0
anaconda-project==0.8.3
apache-beam==2.27.0
apkutils2==1.0.0
appdirs==1.4.4
argh==0.26.2
argon2-cffi 
asn1crypto 
astroid
astropy==4.0.2
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
atari-py==0.2.6
atomicwrites==1.4.0
attrs
autopep8
avro-python3==1.10.1
Babel 
backcall==0.2.0
backports.functools-lru-cache 
backports.shutil-get-terminal-size==1.0.0
backports.tempfile 
backports.weakref==1.0.post1
beautifulsoup4 
bitarray 
bkcharts==0.2
bleach 
blinker==1.4
bokeh 
boto==2.49.0
Bottleneck==1.3.2
brotlipy==0.7.0
cached-property==1.5.2
cachetools 
certifi==2020.12.5
cffi 
chardet==4.0.0
cigam==0.0.3
click==7.1.2
cloudpickle 
clyent==1.2.2
colorama 
concurrent-videocapture==0.0.2
conda==4.9.2
conda-build==3.20.5
conda-package-handling 
conda-verify==3.4.2
ConfigArgParse==1.2.3
contextlib2==0.6.0.post1
crcmod==1.7
cryptography 
cycler==0.10.0
Cython 
cytoolz==0.11.0
dask 
dataclasses==0.6
decorator==4.4.2
defusedxml==0.6.0
Deprecated==1.2.10
deprecation==2.1.0
diff-match-patch 
dill==0.3.1.1
distributed 
dm-tree==0.1.5
docopt==0.6.2
docutils==0.16
dominate==2.6.0
entrypoints==0.3
et-xmlfile==1.0.1
fastavro==1.3.2
fastcache==1.1.0
fasteners==0.16
filelock==3.0.12
flake8 
Flask==1.1.2
Flask-Bootstrap==3.3.7.1
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
flatbuffers==1.12
fsspec 
future==0.18.2
gast==0.3.3
gevent 
gin-config==0.4.0
gitdb==4.0.5
GitPython==3.1.12
glob2==0.7
gmpy2==2.0.8
google-api-core==1.26.0
google-api-python-client==1.12.8
google-auth 
google-auth-httplib2==0.0.4
google-auth-oauthlib 
google-cloud-bigquery==2.8.0
google-cloud-core==1.6.0
google-crc32c==1.1.2
google-pasta==0.2.0
google-resumable-media==1.2.0
googleapis-common-protos==1.52.0
gramaddict==1.2.3
greenlet 
grpcio==1.32.0
gym==0.18.0
h5py==2.10.0
hdfs==2.6.0
HeapDict==1.0.1
html5lib 
httplib2==0.17.4
idna 
imageio 
imagesize==1.2.0
importlib-metadata 
importlib-resources==5.1.0
iniconfig 
intervaltree 
ipykernel 
ipython 
ipython-genutils==0.2.0
ipywidgets 
isort 
itsdangerous==1.1.0
jdcal==1.4.1
jedi 
jeepney 
Jinja2==2.11.2
joblib 
json5==0.9.5
jsonschema 
jupyter==1.0.0
jupyter-client 
jupyter-console 
jupyter-core==4.6.3
jupyterlab==2.2.6
jupyterlab-pygments 
jupyterlab-server 
kaggle==1.5.10
Keras==2.4.3
Keras-Preprocessing 
keras-rl2==1.0.4
keyring 
kiwisolver==1.3.1
lazy==1.4
lazy-object-proxy==1.4.3
libarchive-c==2.9
llvmlite==0.34.0
locket==0.2.0
logzero==1.6.3
lvis==0.5.3
lxml==4.6.2
Markdown 
MarkupSafe==1.1.1
matplotlib==3.3.3
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
mock==2.0.0
more-itertools 
mpmath==1.1.0
msgpack==1.0.0
msk==0.3.16
msm==0.8.8
multidict 
multipledispatch==0.6.0
navigator-updater==0.2.1
nbclient 
nbconvert 
nbformat 
nest-asyncio 
networkx 
nltk
nose==1.3.7
notebook
numba
numexpr==2.7.1
numpy==1.19.3
numpydoc
oauth2client==4.1.3
oauthlib==3.1.0
object-detection 
olefile==0.46
opencv-contrib-python==4.5.1.48
opencv-python==4.5.1.48
opencv-python-headless==4.5.1.48
openpyxl 
opt-einsum==3.3.0
packaging==20.8
pako==0.3.0
pandas 
pandocfilters 
parso==0.7.0
partd==1.1.0
path 
pathlib2==2.3.5
pathtools==0.1.2
patsy==0.5.1
pbr==5.5.1
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
pkginfo==1.6.1
pluggy==0.13.1
ply==3.11
progress==1.5
prometheus-client==0.8.0
promise==2.3
prompt-toolkit 
proto-plus==1.13.0
protobuf==3.14.0
psutil 
ptyprocess==0.6.0
py==1.10.0
py-cpuinfo==7.0.0
pyarrow==2.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.2
pycodestyle==2.6.0
pycosat==0.6.3
pycparser 
pycurl==7.43.0.6
pydocstyle 
pydot==1.4.2
pyelftools==0.27
pyfakewebcam==0.1.0
pyflakes==2.2.0
pygame==2.0.0
PyGithub==1.54.1
pyglet==1.5.0
Pygments 
pyinstaller==4.1
pyinstaller-hooks-contrib==2020.10
PyJWT==1.7.1
pylint 
pymongo==3.11.3
pyodbc===4.0.0-unsupported
pyOpenSSL 
pyparsing==2.4.7
pyrsistent
PySocks==1.7.1
pytest==0.0.0
python-dateutil==2.8.1
python-jsonrpc-server 
python-language-server 
python-slugify==4.0.1
pytz==2020.1
PyWavelets 
pyxdg 
PyYAML==5.3.1
pyzmq==19.0.2
QDarkStyle==2.8.1
QtAwesome 
qtconsole 
QtPy==1.9.0
readme-renderer==28.0
regex 
requests==2.25.1
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
retry==0.9.2
rfc3986==1.4.0
rope 
rsa 
Rtree==0.9.4
ruamel-yaml==0.15.87
sacremoses==0.0.43
scikit-image==0.17.2
scikit-learn 
scipy==1.4.1
seaborn 
SecretStorage==3.1.2
Send2Trash==1.5.0
sentencepiece==0.1.95
seqeval==1.2.2
simplegeneric==0.8.1
singledispatch 
sip==4.19.13
six 
smmap==3.0.5
snowballstemmer==2.0.0
sortedcollections==1.2.1
sortedcontainers==2.2.2
soupsieve==2.0.1
Sphinx 
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport 
spyder 
spyder-kernels 
SQLAlchemy==1.3.22
stable-baselines==2.10.1
statsmodels 
sympy 
tables==3.6.1
tblib 
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.4.1
tensorflow-addons==0.12.1
tensorflow-datasets==4.2.0
tensorflow-estimator==2.4.0
tensorflow-hub==0.11.0
tensorflow-metadata==0.27.0
tensorflow-model-optimization==0.5.0
tensorflow-object-detection-api==0.1.1
tensorflow-probability==0.12.1
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
text-unidecode==1.3
tf-models-official==2.4.0
tf-slim==1.1.0
threadpoolctl 
tifffile==2020.10.1
tokenizers==0.10.1
toml 
toolz 
torch==1.7.1+cpu
torchvision==0.8.2+cpu
tornado==6.0.4
tqdm 
traitlets 
transformers==4.3.2
twine==3.3.0
typeguard==2.11.1
typing-extensions 
uiautomator==1.0.2
uiautomator2==2.11.2
ujson 
unicodecsv==0.14.1
uritemplate==3.0.1
urllib3==1.26.3
visitor==0.1.3
watchdog 
wcwidth 
webencodings==0.5.1
Werkzeug==1.0.1
whichcraft==0.6.1
widgetsnbextension==3.5.1
wrapt==1.12.1
WTForms==2.3.3
wurlitzer 
xlrd==1.2.0
XlsxWriter 
xlwt==1.3.0
xmltodict==0.12.0
yapf 
yarl 
zict==2.0.0
zipp 
zope.event==4.5.0
zope.interface 
